<!DOCTYPE html>
<html lang="pt-br">
<%- include('head') %>

<body class="<%= isAuthenticated ? 'private-body' : '' %>">

  <!-- HEADER GLOBAL (apenas um) -->
  <% if (isAuthenticated) { %>
    <%- include('main_header') %>
  <% } %>

  <!-- CONTEÚDO DAS PÁGINAS -->
  <main class="<%= isAuthenticated ? 'main-content' : '' %>">
    <%- body %>
  </main>

  <% if (isAuthenticated) { %>
    <%- include('footer') %>
  <% } %>
  <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const el = document.querySelector("#church");
      if (!el) return;
  
      new TomSelect("#church", {
        create: false,
        hidePlaceholder: true,
        placeholder: "Selecione a Casa de Oração",
        closeAfterSelect: true,
        maxOptions: 300,
  
        // evita o dropdown ser cortado dentro do card
        dropdownParent: "body",
  
        // busca pelo texto exibido
        searchField: ["text"]
      });
    });
  </script>
  

</body>
</html>
